################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CYKJ.IdentityServer/v16
/.vs/CYKJ.IdentityServer/config
/.vs/CYKJ.IdentityServer/DesignTimeBuild/.dtbcache
